extends layout

block content
  div.jumbotron.my-3
    h1.display-4.my-3 かな漢字タイピング
    p.lead.mt-5 「かな漢字タイピング」は、かな漢字変換込みのタイピング練習ツールです
    p.lead インターネットランキングで、全国のライバルたちとタイピングの実力を競い合うことができます
    p プレイには GitHub アカウントが必要です
    if user
      div.btn-toolbar(role="toolbar")
        div.mx-auto.mt-4
          a(href="/typing-test" role="button").btn.btn-primary.mx-2.my-1 タイピングテストをプレイ
          a(href="/record" role="button").btn.btn-info.mx-2.my-1 自分の記録を見る
          a(href="/ranking" role="button").btn.btn-info.mx-2.my-1 ネットランキングを見る
    else
      div.mt-4
        a(href="/login" role="button").btn.btn-info ログイン
