extends layout

block content
  div.jumbotron.my-3
    h1.display-4.my-3 かな漢字タイピング
    p.lead.my-5 「かな漢字タイピング」は、かな漢字変換込みのタイピング練習ツールです
    ul
      li.my-4 トレーニング：手元のテキストファイルの文章を入力する時間を計測します
        ul
          li.my-1 お好みの文章で、かな漢字変換込みのタイピング練習ができます
      li.my-4 タイピングテスト：日本国憲法前文を入力する時間を計測します
        ul
          li.my-1 インターネットランキングで、全国のライバルたちとタイピングの実力を競い合うことができます
          li.my-1 タイピングテストのプレイには、GitHub アカウントでのログインが必要です
    div.btn-toolbar(role="toolbar")
      div.mx-auto.mt-4
        div.btn-toolbar(role="toolbar")
          a(href="/typing-training" role="button").btn.btn-primary.mx-2.my-1 トレーニング
          if user
            a(href="/typing-test" role="button").btn.btn-primary.mx-2.my-1 タイピングテスト
            a(href="/record" role="button").btn.btn-info.mx-2.my-1 自分の記録を見る
            a(href="/ranking" role="button").btn.btn-info.mx-2.my-1 ネットランキングを見る
          else
            a(href="/login" role="button").btn.btn-info.mx-2.my-1 ログイン
