extends layout

block content
  h3.my-4 Ranking
  table.table.text-center
    tr
      th(scope="col") Rank
      th(scope="col") Time
      th(scope="col") Name
      th(scope="col") Date
    each ranking in rankings
      tr
        td #{ranking.rank}
        td #{(ranking.time / 1000).toFixed(3)}
        td #{ranking.user.username}
        td #{ranking.formattedUpdatedAt}

