extends layout

block scripts
  script(defer, src="/javascripts/bundle.js")

block content
  div
    div.d-flex.my-3
      div(role="alert")#message.p-2.mr-auto.h5.alert.alert-light Enter または Space を押してスタート
      div(style="font-size:x-large;width:12rem;").p-2.border.d-flex
        div.ml-2.mr-auto.text-left Time:
        div#timer.mr-2.text-right.text-monospace 0.0

    -
      const disallowCopy = {
        "user-select": "none",
        "-webkit-user-select": "none",
        "-moz-user-select": "none",
        "-ms-user-select": "none",
        "-khtml-user-select": "none",
        "-webkit-user-drag": "none",
        "-khtml-user-drag": "none",
      };
    p(style=disallowCopy)#curTypingText.lead
    input(type="text" autofocus spellcheck="false" style="min-width: 15rem")#typingInput.form-control.input-lg.my-3
    p(style=disallowCopy)#nextTypingText
    div(style="width:15rem; display:none")#result.card.mx-auto.my-5.py-4.text-center
      h4.card-title.my-2 Result
      p(style="line-height:2;")#resultBody.card-text.h5
    //- 終了後に表示するボタン群
    div.btn-toolbar(role="toolbar")
      div(style="display:none")#resultButtons.mx-auto
        button(type="button" style="display:none")#sendRecordToRanking.btn.btn-primary.mx-2.my-1 ネットランキングに記録を送信
        button(type="button")#retryButton.btn.btn-secondary.mx-2.my-1 リトライ
        a(href="/record" role="button").btn.btn-info.mx-2.my-1 自分の記録を見る
        a(href="/ranking" role="button").btn.btn-info.mx-2.my-1 ネットランキングを見る
    p#output
  //- モーダル
  div(role="dialog" aria-hidden="true")#modal.modal.fade
    div(role="document").modal-dialog
      div.modal-content
        div.modal-header
          h5#modalTitle.modal-title
          button(type="button", data-dismiss="modal", area-label="Close").close
            span(aria-hidden="true") &times;
        div.modal-body
          p#modalBody
        div.modal-footer
          button(type="button" data-dismiss="modal").btn.btn-secondary 閉じる

