extends layout

block scripts
  script(defer, src="/javascripts/bundle.js")

block content
  div
    div.d-flex
      div#message.p-2.flex-grow-1 Press Enter or Space to start
      div#timer.p-2.border.w-25.text-right 0.0
    p#typingText.lead
    input(type="text", autofocus, spellcheck="false")#typingInput.form-control.input-lg.my-3
    p#output
    button(style="display:none")#sendRecordToRanking.btn.btn-primary ネットランキングに記録を送信

