extends layout

block scripts
  script(defer, src="/javascripts/typing-training.bundle.js")

block content
  div
    div.d-flex.my-3
      div(style="font-size:large" role="alert")#message.mr-auto.text-muted.h5.align-self-end
      div(style="font-size:x-large;width:12rem;").p-2.border.d-flex.align-items-center.align-self-center
        div.ml-2.mr-auto.text-left Time:
        div#timer.mr-2.text-right.text-monospace 0.0
    -
      const disallowCopy = {
        "user-select": "none",
        "-webkit-user-select": "none",
        "-moz-user-select": "none",
        "-ms-user-select": "none",
        "-khtml-user-select": "none",
        "-webkit-user-drag": "none",
        "-khtml-user-drag": "none",
      };
    p(style=disallowCopy)#curTypingText.lead
    input(type="text" autofocus spellcheck="false" style="min-width: 15rem")#typingInput.form-control.input-lg.my-3
    p(style=disallowCopy)#nextTypingText
    div(style="width:15rem; display:none")#result.card.mx-auto.my-5.py-4.text-center
      h4.card-title.my-2 Result
      p(style="line-height:2;")#resultBody.card-text.h5
    //- 終了後に表示するボタン群
    div.btn-toolbar(role="toolbar")
      div(style="display:none")#resultButtons.mx-auto
        button(type="button")#retryButton.btn.btn-secondary.mx-2.my-1 リトライ
    input(type="file" accept="text/plain")#inputFile.my-3
    p 練習したい文章のテキストファイルを開きます。
    ul
      li 空行は無視されます
      li 行頭・行末のスペースは無視されます
      li サーバーに内容が送信されることはありません
    p#output

